{"openapi":"3.1.0","info":{"title":"WinWinKit API","description":"An API for interacting with WinWinKit.","version":"1.0.0"},"servers":[{"url":"https://api.winwinkit.com","description":"The production server."}],"security":[{"ApiKeyAuth":[]}],"paths":{"/referral/users":{"post":{"operationId":"createReferralUser","summary":"Create Referral User","description":"Create a referral user. Update the referral user if already exists.","tags":["Referral User"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserCreate"}}}},"responses":{"200":{"description":"Referral user updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserResponse"}}}},"201":{"description":"Referral user created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserResponse"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/referral/users/{app_user_id}":{"get":{"operationId":"getReferralUser","summary":"Get Referral User","description":"Get a referral user by app user id.","tags":["Referral User"],"responses":{"200":{"description":"The referral user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"operationId":"updateReferralUser","summary":"Update Referral User","description":"Update a referral user.","tags":["Referral User"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserUpdate"}}}},"responses":{"200":{"description":"Referral user updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserResponse"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"app_user_id","description":"The app user id of the referral user.","in":"path","required":true,"schema":{"type":"string"}}]},"/referral/users/{app_user_id}/codes/{code}/claim":{"post":{"operationId":"claimReferralUserCode","summary":"Claim Referral Code","description":"Claim referral code for the referral user.","tags":["Claim Referral Code"],"responses":{"200":{"description":"The referral user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimReferralCodeResponse"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"405":{"description":"Method Not Allowed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"app_user_id","description":"The app user id of the referral user.","in":"path","required":true,"schema":{"type":"string"}},{"name":"code","description":"The referral code to claim.","in":"path","required":true,"schema":{"type":"string"}}]},"/referral/users/{app_user_id}/rewards/credit/{key}/withdraw":{"post":{"operationId":"withdrawCreditReferralReward","summary":"Withdraw Credits","description":"Withdraw credits for the referral user.","tags":["Rewards Actions"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralUserWithdrawCreditReward"}}}},"responses":{"200":{"description":"The withdraw credits completed. Check data.withdraw_result object for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawCreditsResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"app_user_id","description":"The app user id of the referral user.","in":"path","required":true,"schema":{"type":"string"}},{"name":"key","description":"The credit referral reward key.","in":"path","required":true,"schema":{"type":"string"}}]}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-KEY","description":"The API key to authenticate with."}},"schemas":{"ReferralUserCreate":{"type":"object","properties":{"app_user_id":{"$ref":"#/components/schemas/ReferralUserAppUserId"},"is_premium":{"type":["boolean","null"],"description":"Is the referral user premium.","example":true},"first_seen_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral user was first seen at.","example":"2024-11-10T10:28:18.104Z"},"last_seen_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral user was last seen at.","example":"2025-02-10T10:28:18.104Z"},"metadata":{"type":["object"],"description":"Key-value object allowing you to store additional information.","example":{"key":"value"}}},"required":["app_user_id"],"description":"The referral user."},"ReferralUserUpdate":{"type":"object","properties":{"is_premium":{"type":["boolean","null"],"description":"Is the referral user premium.","example":true},"first_seen_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral user was first seen at.","example":"2024-11-10T10:28:18.104Z"},"last_seen_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral user was last seen at.","example":"2025-02-10T10:28:18.104Z"},"metadata":{"type":["object"],"description":"Key-value object allowing you to store additional information.","example":{"key":"value"}}},"description":"The referral user."},"GrantedRewards":{"type":"object","properties":{"basic":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/ReferralBasicReward"}],"properties":{"expires_at":{"type":["string","null"],"format":"date-time","example":null}},"required":["expires_at"]}},"credit":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/ReferralCreditReward"}],"properties":{"expires_at":{"type":["string","null"],"format":"date-time","example":null}},"required":["expires_at"]}},"offer_code":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/ReferralOfferCodeReward"}],"properties":{"offer_code":{"oneOf":[{"$ref":"#/components/schemas/ReferralOfferCodeValue"},{"type":"null"}],"example":null},"expires_at":{"type":["string","null"],"format":"date-time","example":null}},"required":["offer_code","expires_at"]}}},"required":["basic","credit","offer_code"],"description":"Granted rewards after claiming the referral code."},"ReferralUserAppUserId":{"type":"string","minLength":4,"description":"The unique identifier of the referral user.","example":"821fae4b5-1a2d-4c1e-9152-5297086a161c"},"ReferralUserResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"referral_user":{"$ref":"#/components/schemas/ReferralUser"}},"required":["referral_user"],"description":"Data object containing the referral user object."}},"required":["data"]},"ReferralUser":{"type":"object","properties":{"app_user_id":{"$ref":"#/components/schemas/ReferralUserAppUserId"},"code":{"type":["string","null"],"description":"The referral code.","example":"XYZ123"},"preview_link":{"type":["string","null"],"description":"Link to Preview Link with user's referral code.","example":"https://example.wwk.link/XYZ123"},"is_premium":{"type":["boolean","null"],"description":"Is the referral user premium.","example":true},"first_seen_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral user was first seen at.","example":"2024-11-10T10:28:18.104Z"},"last_seen_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral user was last seen at.","example":"2025-02-10T10:28:18.104Z"},"metadata":{"type":["object"],"description":"Key-value object allowing you to store additional information.","example":{"key":"value"}},"program":{"$ref":"#/components/schemas/ReferralProgram"},"claim_code_eligibility":{"$ref":"#/components/schemas/ReferralUserClaimCodeEligibilitySchema"},"rewards":{"$ref":"#/components/schemas/ReferralUserRewards"},"stats":{"$ref":"#/components/schemas/ReferralUserStats"}},"required":["app_user_id","code","preview_link","program","claim_code_eligibility","rewards","stats"],"description":"The referral user."},"ReferralProgram":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the referral program.","example":"77dc-5508-40d3-8723-472e884b55fe"},"name":{"type":"string","description":"Name of the referral program.","example":"Free month"},"description":{"type":"string","description":"Description of the referral program.","example":"Free month for each invited user."},"distribution_percentage":{"type":"number","description":"Distribution percentage of the referral program among newly registered users.","example":100},"limit":{"type":"number","description":"Limit of how many times referral code can be claimed.","example":100},"metadata":{"type":["object"],"description":"Key-value object allowing you to store additional information.","example":{"key":"value"}},"rewards":{"type":"object","properties":{"sender":{"$ref":"#/components/schemas/ReferralProgramSenderRewards"},"receiver":{"$ref":"#/components/schemas/ReferralProgramReceiverRewards"}},"required":["sender","receiver"]}},"required":["id","name","description","distribution_percentage","limit","rewards"],"description":"Referral program."},"ReferralProgramSenderRewards":{"type":"object","properties":{"basic":{"allOf":[{"$ref":"#/components/schemas/ReferralBasicReward"}],"properties":{"activation_onfiguration":{"type":"object","properties":{"variant":{"type":"string","enum":["claim","conversion"]},"amount":{"type":"number"}},"required":["variant","amount"],"example":{"variant":"claim","amount":1}},"deactivation_configuration":{"anyOf":[{"type":"object","properties":{"variant":{"type":"string","const":"never"}},"required":["variant"]},{"type":"object","properties":{"variant":{"type":"string","const":"interval"},"duration":{"type":"number"},"period":{"type":"string","enum":["days","months","years"]}},"required":["variant","duration","period"]}],"example":{"variant":"never"}}},"required":["activation_onfiguration","deactivation_configuration"]},"credit":{"allOf":[{"$ref":"#/components/schemas/ReferralCreditReward"}],"properties":{"activation_configuration":{"type":"object","properties":{"variant":{"type":"string","enum":["claim","conversion"]},"amount":{"type":"number"},"limit":{"type":"number","description":"Limit of how many times the reward can be granted to the same referral user. Zero means that the reward can be activated unlimited amount of times.","example":0}},"required":["variant","amount","limit"],"example":{"variant":"claim","amount":1,"limit":0}},"deactivation_configuration":{"anyOf":[{"type":"object","properties":{"variant":{"type":"string","const":"never"}},"required":["variant"]},{"type":"object","properties":{"variant":{"type":"string","const":"interval"},"duration":{"type":"number"},"period":{"type":"string","enum":["days","months","years"]}},"required":["variant","duration","period"]}],"example":{"variant":"never"}}},"required":["activation_configuration","deactivation_configuration"]},"offer_code":{"allOf":[{"$ref":"#/components/schemas/ReferralOfferCodeReward"}],"properties":{"activation_configuration":{"type":"object","properties":{"variant":{"type":"string","enum":["claim","conversion"]},"amount":{"type":"number"},"limit":{"type":"number","description":"Limit of how many times the reward can be granted to the same referral user. Zero means that the reward can be activated unlimited amount of times.","example":0}},"required":["variant","amount","limit"],"example":{"variant":"claim","amount":1,"limit":0}},"deactivation_configuration":{"anyOf":[{"type":"object","properties":{"variant":{"type":"string","const":"never"}},"required":["variant"]},{"type":"object","properties":{"variant":{"type":"string","const":"interval"},"duration":{"type":"number"},"period":{"type":"string","enum":["days","months","years"]}},"required":["variant","duration","period"]}],"example":{"variant":"never"}}},"required":["activation_configuration","deactivation_configuration"]}},"required":["basic","credit","offer_code"]},"ReferralBasicReward":{"type":"object","properties":{"key":{"type":"string","description":"The referral reward key.","example":"extended-premium-trial"},"name":{"type":"string","description":"The referral reward name.","example":"Extended Premium Trial"},"description":{"type":["string","null"],"description":"The referral reward description.","example":"Extend Premium trial for 14 more days."},"metadata":{"type":["object"],"description":"Key-value object storing additional information. Configurable via the dashboard.","example":{"key":"value"}}},"required":["key","name","description"]},"ReferralCreditReward":{"type":"object","properties":{"key":{"type":"string","description":"The referral reward key.","example":"credits-level-one"},"name":{"type":"string","description":"The referral reward name.","example":"Level one"},"description":{"type":["string","null"],"description":"The referral reward description.","example":"Grant credits for completing 100 levels."},"credits":{"type":"number","description":"The amount of credits remaining with the reward.","example":100},"metadata":{"type":["object"],"description":"Key-value object storing additional information. Configurable via the dashboard.","example":{"key":"value"}}},"required":["key","name","description","credits"]},"ReferralOfferCodeReward":{"type":"object","properties":{"key":{"type":"string","description":"The referral reward key.","example":"three-months-50-off"},"name":{"type":"string","description":"The referral reward name.","example":"Three months at 50% off"},"description":{"type":["string","null"],"description":"The referral reward description.","example":"Get three months of premium subscription at 50% off the regular price."},"metadata":{"type":["object"],"description":"Key-value object storing additional information. Configurable via the dashboard.","example":{"key":"value"}},"app_store_configurations":{"type":"object","properties":{"offer_code":{"type":"object","properties":{"id":{"type":"string","description":"The offer code id.","example":"5fc0e331-e53e-4870-bbc7-11a29c4abccc"},"name":{"type":"string","description":"The offer code name.","example":"Half price for three months"},"customer_eligibilities":{"type":"array","items":{"type":"string","enum":["NEW","EXISTING","EXPIRED"]},"description":"The customer eligibilities.","example":["NEW","EXISTING"]},"offer_mode":{"type":"string","enum":["PAY_AS_YOU_GO","PAY_UP_FRONT","FREE_TRIAL"],"description":"The offer mode.","example":"PAY_AS_YOU_GO"},"offer_eligibility":{"type":"string","enum":["STACK_WITH_INTRO_OFFERS","REPLACE_INTRO_OFFERS"],"description":"The offer eligibility.","example":"STACK_WITH_INTRO_OFFERS"},"duration":{"type":"string","enum":["THREE_DAYS","ONE_WEEK","TWO_WEEKS","ONE_MONTH","TWO_MONTHS","THREE_MONTHS","SIX_MONTHS","ONE_YEAR"],"description":"The offer code duration.","example":"THREE_MONTHS"},"prices":{"type":["array","null"],"items":{"type":"object","properties":{"territory":{"type":"string","description":"The territory.","example":"USA"},"currency":{"type":"string","description":"The currency.","example":"USD"},"price":{"type":"string","description":"The price.","example":"19.99"}},"required":["territory","currency","price"]}}},"required":["id","name","customer_eligibilities","offer_mode","offer_eligibility","duration","prices"]},"subscription":{"type":"object","properties":{"id":{"type":"string","description":"The subscription id.","example":"1234567890"},"name":{"type":"string","description":"The subscription name.","example":"Yearly"},"product_id":{"type":"string","description":"The product id.","example":"com.winwinkit.yearly"},"subscription_period":{"type":"string","enum":["ONE_WEEK","ONE_MONTH","TWO_MONTHS","THREE_MONTHS","SIX_MONTHS","ONE_YEAR"],"description":"The subscription period.","example":"ONE_YEAR"},"prices":{"type":["array","null"],"items":{"type":"object","properties":{"territory":{"type":"string","description":"The territory.","example":"USA"},"currency":{"type":"string","description":"The currency.","example":"USD"},"price":{"type":"string","description":"The price.","example":"99.99"}},"required":["territory","currency","price"]}}},"required":["id","name","product_id","subscription_period","prices"]}},"required":["offer_code","subscription"]}},"required":["key","name","description","app_store_configurations"]},"ReferralProgramReceiverRewards":{"type":"object","properties":{"basic":{"allOf":[{"$ref":"#/components/schemas/ReferralBasicReward"}],"properties":{"activation_configuration":{"type":"object","properties":{"variant":{"type":"string","enum":["claim","conversion"]}},"required":["variant"],"example":{"variant":"claim"}},"deactivation_configuration":{"anyOf":[{"type":"object","properties":{"variant":{"type":"string","const":"never"}},"required":["variant"]},{"type":"object","properties":{"variant":{"type":"string","const":"interval"},"duration":{"type":"number"},"period":{"type":"string","enum":["days","months","years"]}},"required":["variant","duration","period"]}],"example":{"variant":"never"}}},"required":["activation_configuration","deactivation_configuration"]},"credit":{"allOf":[{"$ref":"#/components/schemas/ReferralCreditReward"}],"properties":{"activation_configuration":{"type":"object","properties":{"variant":{"type":"string","enum":["claim","conversion"]}},"required":["variant"],"example":{"variant":"claim"}},"deactivation_configuration":{"anyOf":[{"type":"object","properties":{"variant":{"type":"string","const":"never"}},"required":["variant"]},{"type":"object","properties":{"variant":{"type":"string","const":"interval"},"duration":{"type":"number"},"period":{"type":"string","enum":["days","months","years"]}},"required":["variant","duration","period"]}],"example":{"variant":"never"}}},"required":["activation_configuration","deactivation_configuration"]},"offer_code":{"allOf":[{"$ref":"#/components/schemas/ReferralOfferCodeReward"}],"properties":{"activation_configuration":{"type":"object","properties":{"variant":{"type":"string","enum":["claim"]}},"required":["variant"],"example":{"variant":"claim"}},"deactivation_configuration":{"anyOf":[{"type":"object","properties":{"variant":{"type":"string","const":"never"}},"required":["variant"]},{"type":"object","properties":{"variant":{"type":"string","const":"interval"},"duration":{"type":"number"},"period":{"type":"string","enum":["days","months","years"]}},"required":["variant","duration","period"]}],"example":{"variant":"never"}}},"required":["activation_configuration","deactivation_configuration"]}},"required":["basic","credit","offer_code"]},"ReferralUserClaimCodeEligibilitySchema":{"type":"object","properties":{"eligible":{"type":"boolean","description":"The claim code eligibility flag.","example":true},"eligible_until":{"type":["string","null"],"format":"date-time","description":"The claim code eligibility until date.","example":"2025-02-10T10:28:18.104Z"}},"required":["eligible","eligible_until"],"description":"Referral user's eligibility to claim referral code."},"ReferralUserRewards":{"type":"object","properties":{"active":{"type":"object","properties":{"basic":{"type":"array","items":{"$ref":"#/components/schemas/ReferralUserActiveBasicReward"}},"credit":{"type":"array","items":{"$ref":"#/components/schemas/ReferralUserActiveCreditReward"}},"offer_code":{"type":"array","items":{"$ref":"#/components/schemas/ReferralUserActiveOfferCodeReward"}}},"required":["basic","credit","offer_code"],"description":"Active referral user's rewards."},"expired":{"type":"object","properties":{"basic":{"type":"array","items":{"$ref":"#/components/schemas/ReferralUserExpiredBasicReward"}},"credit":{"type":"array","items":{"$ref":"#/components/schemas/ReferralUserExpiredCreditReward"}},"offer_code":{"type":"array","items":{"$ref":"#/components/schemas/ReferralUserExpiredOfferCodeReward"}}},"required":["basic","credit","offer_code"],"description":"Expired referral user's rewards."}},"required":["active","expired"],"description":"Referral user's rewards."},"ReferralUserActiveBasicReward":{"allOf":[{"$ref":"#/components/schemas/ReferralBasicReward"}],"properties":{"expires_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral reward expires.","example":null},"created_at":{"type":"string","format":"date-time","description":"Date when the referral reward created.","example":"2025-02-10T10:28:18.104Z"}},"required":["created_at"]},"ReferralUserActiveCreditReward":{"allOf":[{"$ref":"#/components/schemas/ReferralCreditReward"}],"properties":{"expires_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral reward expires.","example":null},"created_at":{"type":"string","format":"date-time","description":"Date when the referral reward created.","example":"2025-02-10T10:28:18.104Z"}},"required":["created_at"]},"ReferralUserActiveOfferCodeReward":{"allOf":[{"$ref":"#/components/schemas/ReferralOfferCodeReward"}],"properties":{"offer_code":{"oneOf":[{"$ref":"#/components/schemas/ReferralOfferCodeValue"},{"type":"null"}],"description":"The offer code."},"expires_at":{"type":["string","null"],"format":"date-time","description":"Date when the referral reward expires.","example":null},"created_at":{"type":"string","format":"date-time","description":"Date when the referral reward created.","example":"2025-02-10T10:28:18.104Z"}},"required":["created_at"]},"ReferralOfferCodeValue":{"type":"object","properties":{"value":{"type":"string","description":"The offer code.","example":"ABCDEFGHIJKLMNOPQR"},"link":{"type":"string","description":"The offer code link to redeem via the App Store app.","example":"https://apps.apple.com/redeem?ctx=offercodes&id=1234567890&code=ABCDEFGHIJKLMNOPQR"},"expires_at":{"type":"string","format":"date-time","description":"The offer code expiration date.","example":"2026-01-01T00:00:00.000Z"}},"required":["value","link","expires_at"]},"ReferralUserExpiredBasicReward":{"allOf":[{"$ref":"#/components/schemas/ReferralBasicReward"}],"properties":{"expired_at":{"type":"string","format":"date-time","description":"Date when the referral reward expired.","example":"2025-02-10T10:28:18.104Z"},"created_at":{"type":"string","format":"date-time","description":"Date when the referral reward created.","example":"2024-11-10T10:28:18.104Z"}},"required":["expired_at","created_at"]},"ReferralUserExpiredCreditReward":{"allOf":[{"$ref":"#/components/schemas/ReferralCreditReward"}],"properties":{"expired_at":{"type":"string","format":"date-time","description":"Date when the referral reward expired.","example":"2025-02-10T10:28:18.104Z"},"created_at":{"type":"string","format":"date-time","description":"Date when the referral reward created.","example":"2024-11-10T10:28:18.104Z"}},"required":["expired_at","created_at"]},"ReferralUserExpiredOfferCodeReward":{"allOf":[{"$ref":"#/components/schemas/ReferralOfferCodeReward"}],"properties":{"expired_at":{"type":"string","format":"date-time","description":"Date when the referral reward expired.","example":"2025-02-10T10:28:18.104Z"},"created_at":{"type":"string","format":"date-time","description":"Date when the referral reward created.","example":"2024-11-10T10:28:18.104Z"}},"required":["expired_at","created_at"]},"ReferralUserStats":{"type":"object","properties":{"claims":{"type":"number","description":"How many users claimed the referral code of this referral user.","example":10},"conversions":{"type":"number","description":"How many users who claimed the referral code of this referral used converted to premium. Requires you to update `is_premium` property of referral users.","example":8},"churns":{"type":"number","description":"How many users who claimed the referral code of this referral used converted to premium and then churned. Requires you to update `is_premium` property of referral users.","example":1}},"required":["claims","conversions","churns"],"description":"Referral user's statistics."},"ErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"},"description":"An array of one or more errors."}},"required":["errors"],"description":"The error details that an API returns in the response body whenever the API request isn’t successful."},"Error":{"type":"object","properties":{"code":{"type":"string","description":"A machine-readable code indicating the type of error. This value is parseable for programmatic error handling in code."},"status":{"type":"number","description":"The HTTP status code of the error. This status code usually matches the response’s status code; however, if the request produces multiple errors, these two codes may differ."},"title":{"type":"string","description":"A summary of the error. Do not use this field for programmatic error handling."},"source":{"type":["string","null"],"description":"Parameter that produced the error."}},"required":["code","status","title","source"],"description":"The details about an error that is returned when an API request isn’t successful."},"ClaimReferralCodeResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"referral_user":{"$ref":"#/components/schemas/ReferralUser"},"granted_rewards":{"$ref":"#/components/schemas/GrantedRewards"}},"required":["referral_user","granted_rewards"],"description":"Data object containing the referral user and granted rewards objects."}},"required":["data"]},"ReferralUserWithdrawCreditReward":{"type":"object","properties":{"credits":{"type":"number","exclusiveMinimum":0,"description":"The credits amount to withdraw.","example":10}},"required":["credits"]},"WithdrawCreditsResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"referral_user":{"$ref":"#/components/schemas/ReferralUser"},"withdraw_result":{"$ref":"#/components/schemas/WithdrawCredits"}},"required":["referral_user","withdraw_result"],"description":"Data object containing the referral user and withdraw result objects."}},"required":["data"]},"WithdrawCredits":{"type":"object","properties":{"credits_available_at_start":{"type":"number","description":"Credits available at start.","example":100},"credits_available_at_end":{"type":"number","description":"Credits available at end.","example":90},"credits_requested_to_withdraw":{"type":"number","description":"Credits requested to withdraw.","example":10},"credits_withdrawn":{"type":"number","description":"Credits actually withdrawn.","example":10}},"required":["credits_available_at_start","credits_available_at_end","credits_requested_to_withdraw","credits_withdrawn"],"description":"Withdraw credits result."}}}}
